* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Inter', sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    line-height: 1.6
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px
}

.hero {
    position: relative;
    height: 95vh;
    background: url('img/bg-nt.jpg') center/cover no-repeat;
    display: flex;
    align-items: center
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .75)
}

.hero-content {
    position: relative;
    max-width: 700px
}

.badge {
    display: inline-block;
    margin-bottom: 16px;
    color: #fbbf24;
    letter-spacing: 2px;
    font-size: .8rem
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 32px;
    color: #d1d5db
}

.whatsapp-button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.3s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp-button:hover {
    background-color: #1ebd5b;
    /* Cor mais escura no hover */
    transform: scale(1.1);
    /* Efeito de aumento */
}

.btn {
    background: #fbbf24;
    color: #000;
    padding: 14px 28px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    gap: 10px;
    transition: .3s
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .4)
}

.btn.dark {
    background: #020617;
    color: #fff
}

section {
    padding: 100px 0
}

.maps {
    padding: inherit
}
.logo img {
    max-width: 100%;
}

.services h2,
.gallery h2,
.stats h2,
.cta h2 {
    text-align: center;
    margin-bottom: 48px
}

.tcenter {
    text-align: center
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 52px
}

.service-card {
    background: #020617;
    border: 1px solid #1e293b;
    border-radius: 14px;
    padding: 36px;
    text-align: center;
    transition: .3s
}

.service-card:hover {
    transform: translateY(-6px)
}

.service-card i {
    font-size: 2.4rem;
    color: #fbbf24;
    margin-bottom: 16px
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px
}

.gallery-grid img {
    width: 100%;
    border-radius: 14px;
    transition: .4s
}

.gallery-grid img:hover {
    transform: scale(1.05)
}

.stats p {
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-size: 1.1rem;
    color: #cbd5f5
}

.about {
    background: #020617
}

.about strong {
    font-size: 2.5rem;
    color: #fbbf24;
    display: block
}

.about span {
    color: #9ca3af
}

.cta {
    text-align: center;
    background: #fbbf24;
    color: #000
}

footer {
    text-align: center;
    background: #020617;
    line-height: 0.6;
    padding: 10px;
}

@media(max-width:768px) {
    .hero h1 {
        font-size: 2.2rem
    }
}